body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.imagenNueva {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.imagenNueva img {
    width: 150px;
    height: 150px;
}
.imagenNueva button {
    top: 5px;
    right: 5px;
    background: white;
    border: none;
    cursor: pointer;
}