body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(139, 139, 149, 0.555);
}

#afegir {
    background-color: #d6f391;
}

#eliminar {
    background-color: #DC3545;
}

button {
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;

}

#imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.imagenNueva {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 3px solid red;
    
}

.imagenNueva img {
    width: 150px;
    height: 150px;
}

.imagenNueva button {
    cursor: pointer;
    border: none;
}