body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: lightskyblue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 100px;
    height: 100px;
}

.links {
    display: flex;
    list-style: none;
}

li {
    margin: 5%;
    padding: 5%;
}

a {
    text-decoration: none;
}

.buscador {
    margin: 5%;
}

.menuBurger {
    display: none;
}

/*MAIN*/

.contenedorCamisetas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
    margin: auto;
}

main div {
    padding: 15px;
    text-align: center;

}

main img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}


@media (max-width:1024px) {

    .links {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: lightskyblue;
        right: 0;
        top: 70px;
    }

    nav li {
        padding: 10px;
        text-align: center;
    }


    .menuBurger {
        display: flex;
        font-size: 30px;
        margin-left: 20px;
    }

    .claseHamburguesa {
        display: flex;
    }
}

@media (max-width:768px) {

    .links {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: lightskyblue;
        right: 0;

    }

    nav li {
        padding: 10px;
        text-align: center;
    }

    .buscador {
        display: none;
    }

    .menuBurger {
        display: flex;
        font-size: 30px;
        margin-left: 20px;
    }

    .claseHamburguesa {
        display: flex;
    }
}