*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #375080, #002058);

}

button {
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.eliminarTodo{
    background-color: #DC3545;
}

ul {
    list-style: none;
    padding: 0;
    width: 70%;
    margin: auto;
}

.tarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    
}

.botonEliminar {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
